body {
    display:grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: "h1 h1 h1"
                         "nav main section"
                         "footer footer footer";
}
.shownav {
    height: 0.8em;
    width: 1.25em;
     border-top: 0.2em solid black;
    border-bottom: 0.2em solid black;
    border-radius: 0.1em;
}
.shownav::before {
    content: '';
     position: absolute;
     width: 100%;
     top: 0.3em;
     left: 0px;
     height:0.2em;
     background-color: black;
    }
h1{
    background:rgb(212, 22, 79);
    padding: 20px;
    grid-area:h1;
}
nav{
    background: rgb(28, 205, 218);
    grid-area:nav;
}
main{
    background: rgb(176, 14, 216);
    grid-area:main;
}
section{
    background: rgb(248, 170, 0);
    grid-area:section;
}
footer{
    background: rgb(45, 240, 45);
    grid-area:footer;
}