body {
    display:grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: "h1 h1 h1"
                         "nav nav nav"
                         "main main section"
                         "footer footer footer";
}
h1{
    background:rgb(212, 22, 79);
    padding: 20px;
    grid-area:h1;
}
nav{
    background: rgb(28, 205, 218);
    grid-area:nav;
}
nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align:center; 
}
nav > ul > li {
    position:relative;
}
nav ul ul {
    position: absolute;
    display: none;
    background-color: green;
    padding: 0;
    width: 100%;
}
nav > ul > li:hover ul {
    display: block;
} 
main{
    background: rgb(176, 14, 216);
    grid-area:main;
    height: 10em;
}
section{
    background: rgb(248, 170, 0);
    grid-area:section;
}
footer{
    background: rgb(45, 240, 45);
    grid-area:footer;
}